@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    scroll-behavior: smooth;
}
.modal-open {
    transform: translateX(-20rem);
    transition: transform 0.3s;
}

.modal-close {
    transform: translateX(0rem);
    transition: transform 0.3s;
}

.show {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.hidde {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.text-responsive {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.text-responsive-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.hover-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 0%;
    @apply bg-primary;
    transition: all 0.2s ease;
}
.hover-button:hover::after {
    width: 100%;
}

/* .hover-dropwdown {
} */
.hover-dropwdown-child {
    opacity: 0;
    transition: opacity 0.2s ease;
}
.hover-dropwdown:hover .hover-dropwdown-child {
    opacity: 1;
    transition: opacity 0.2s ease;
}
